<link rel="stylesheet" href="../../CSS/shop.css">

<div class="add-to-cart-button-container">
  <h3 class="shop-slogan">We have one product. Simple. Sturdy. Made in America    <img src="../../Assets/murica2.png" alt=""></h3>
  <button class="add-to-cart-button" ng-click="addToCart(item)" ui-sref="cart">Add to Cart</button>
</div>


<link rel="stylesheet" href="./CSS/gallery.min.css">


<div class="gallery-container">
  <div id="mygallery" class="gallery">
    <div class="images">
      <div class="active" style="background-image: url(../../Assets/DSC00372.jpg)"></div>
      <div style="background-image: url(../../Assets/DSC00373.jpg)"></div>
      <div style="background-image: url(../../Assets/DSC00379.jpg)"></div>
      <div style="background-image: url(../../Assets/DSC00380.jpg)"></div>
      <div style="background-image: url(../../Assets/DSC00392.jpg)"></div>
      <span class="left"></span>
      <span class="right"></span>
    </div>
    <div class="thumbs">
      <div class="active" style="background-image: url(../../Assets/DSC00372.jpg)"></div>
      <div style="background-image: url(../../Assets/DSC00373.jpg)"></div>
      <div style="background-image: url(../../Assets/DSC00379.jpg)"></div>
      <div style="background-image: url(../../Assets/DSC00380.jpg)"></div>
      <div style="background-image: url(../../Assets/DSC00392.jpg)"></div>
    </div>
  </div>
</div>

<!-- figure out how to get small thumbnails that you can scroll through like Amazon -->
