<link rel="stylesheet" href="../../CSS/shop.css">

<h1>this is the shop page</h1>

<div class="shop-overall-container">

<div class="shop-image-box">
  <img src="../../Assets/DSC00372.jpg" alt="">
  <img src="../../Assets/DSC00373.jpg" alt="">
  <img src="../../Assets/DSC00379.jpg" alt="">
  <img src="../../Assets/DSC00380.jpg" alt="">
  <img src="../../Assets/DSC00392.jpg" alt="">
</div>

<div class="shop-container-right">

</div>



</div>

<!-- figure out how to get small thumbnails that you can scroll through like Amazon -->
