<link rel="stylesheet" href="../../CSS/landing.css">


<div class="landing-body">

  <div class="left-landing-body">
    <div class="landing-info-box">
      <h3 style="text-decoration: underline" class="landing-info-box-header">Why Barap?</h3>
      <ul>
        <li>No Hickies</li>
        <li>Bigger Numbers</li>
        <li>More Comfort</li>
      </ul>
    </div>
  </div>

  <div class="right-landing-body">

    <button class="shop-now-button" ui-sref="shopPage">SHOP</button>

  </div>

</div>
